.demonstration {
    font-size: 20px;
    
    overflow: hidden;

    background-image: url('./../images/svg/demonstration-bg.svg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-color: #EFF4F8;
}

.demonstration__container {
    display: flex;
    justify-content: space-between;

    position: relative;

    @media (max-width: 1024px) {
        flex-direction: column;
    }

    @media (max-width: 940px) {
        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 0;
    }
}

.demonstration__info {
    max-width: 28em;
    padding: 4em 0 4.5em;
    position: relative;
        
    b {
        font-size: 0.9em;
        font-weight: 800;
        font-family: 'FuturaPT', sans-serif;
        
        text-transform: uppercase;
        color: $lightBlue;
    }

    h1 {
        margin: 0.1em 0 0.4em;

        font-size: 2.5em;
        font-weight: 800;
        font-family: 'FuturaPT', sans-serif;
        
        line-height: 1.1em;
        text-transform: uppercase;
        color: $lightBlack;

        position: relative;
        z-index: 5;

        @media (max-width: 400px) {
            margin-right: 10%;
            font-size: 2.2em;
        }
    }

    p {
        font-size: 0.9em;
        font-weight: 600;
        line-height: 1.5em;

        position: relative;
        z-index: 5;
        max-width: 19em;

        @media (max-width: 400px) {
            font-size: 1em;
            margin-right: 20%;
        }
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 1.5em;
        grid-row-gap: 2em;

        width: 100%;
        max-width: 25em;

        margin: 2em 0 0 0;

        @media (max-width: 400px) {
            grid-column-gap: 1em;
            grid-row-gap: 1em;

            margin: 1.4em 0 0 0;
        }

        li {
            display: flex;

            picture {
                background-color: $lightBlue;
                width: 100%;
                height: 100%;
                max-width: 1.3em;
                max-height: 1.3em;

                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 100%;
                margin-right: .75em;

                svg {
                    width: 0.65em;
                    height: 0.5em;
                }
            }

            span {
                width: auto;
                font-weight: 600;
                font-size: .7em;
                line-height: 140%;

                @media (max-width: 400px) { line-height: 150% }
            }
        }
    }

    .d-btn {
        width: 100%;
        padding: 1.7em 0;
        margin-top: 2.5em;

        max-width: 24em;
        
        justify-content: center;
        border: 2px solid $lightBlue;
        box-sizing: border-box;

        span { font-size: 0.8em }

        @media (max-width: 400px) {
            margin-top: 1.5em;
        }

        &:hover { background-color: transparent }
    }

    @media (max-width: 1230px) {
        font-size: 18px;
    }

    @media (max-width: 1024px) {
        margin: 0 auto;
        padding: 4em 0 4.5em;
    }

    @media (max-width: 940px) {
        font-size: 20px;
    }

    @media (max-width: 768px) {
        font-size: 16px;
    }

    @media (max-width: 500px) {
        padding-left: 15px;
        padding-right: 15px;
        font-size: 0.6em;
    }
}

.demonstration__picture {
    position: absolute;
    bottom: 0;
    right: -150px;

    max-width: 794px;
    max-height: 642px;

    img {
        width: 100%;
        height: 100%;
    }

    @media (max-width: 1230px) {
        max-width: 600px;
        max-height: 485px;

        right: 0px;
    }

    @media (max-width: 1100px) {
        right: -100px;
    }

    @media (max-width: 1024px) {
        right: initial;
        bottom: initial;
        position: initial;    

        max-width: none;
        max-height: none;

        margin: 0 auto;
        width: 80%;
    }
}