.menu {
    width: calc(100% - 30px);
    height: 100%;
    overflow: auto;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;

    min-height: 100%;

    display: flex;
    flex-direction: column;
    overflow-y: auto;

    background-color: #242843;
    color: white;

    transition: .3s opacity;
    padding: 0 15px 0;

    display: none;
    z-index: -10;
    opacity: 0;
}

.menu__container {
    height: 100%;

    display: flex;
    flex-direction: column;
}

.m-open {
    z-index: -10;
    opacity: 0;
    display: none;

    @media (max-width: 1024px) {
        opacity: 1;
        z-index: 20;
        display: flex;
    }
}

.menu-separator {
    width: 100%;
    height: 4px;
    min-height: 4px;
    background-image: url(../images/svg/shape.svg);
    background-repeat: repeat-x;
    background-position: center center;
    background-size: auto 4px;

    &--main {
        width: calc(100% - 60px);
        padding: 0 15px;

        position: absolute;
        z-index: 30;
        top: 90px;

        background-color: #242843;

        @media (max-width: 500px) {
            top: 70px;
        }
    }
}

.menu__links {
    display: flex;
    flex-direction: column;

    height: 100%;
    min-height: 300px;
    padding: 120px 20% 25px;

    a {
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 24px;

        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media (max-width: 768px) {
        min-height: 245px;
        a {
            font-size: 18px;

            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }
    
    @media (max-width: 575px) {
        padding: 120px 15px 25px;
    }

    @media (max-width: 500px) {
        padding: 100px 15px 25px;
    }

}

.menu__contacts {
    display: flex;
    flex-direction: column;
    padding: 0 20%;

    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;

        min-height: 80px;

        @media (max-width: 500px) {
            min-height: 60px;
        }
    }

    &-social {
        display: flex;
    }

    &-phone {
        a {
            color: white;
            text-decoration: none;
            font-weight: 700;
            font-size: 24px;

            display: flex;
            justify-content: end;

            @media (max-width: 768px) {
                font-size: 20px;
            }

            @media (max-width: 500px) {
                font-size: 16px;
            }
        }

        p {
            font-size: 16px;
            line-height: 140%;
            text-align: right;

            @media (max-width: 768px) {
                font-size: 12px;
                padding-bottom: 5px;
            }

            @media (max-width: 500px) {
                font-size: 10px;
            }
        }
    }

    @media (max-width: 575px) {
        padding: 0 15px;
    }
}

.menu__warning {
    display: flex;
    padding: 20px 0 20px;
    
    &-img {
        margin-top: 3px;
        svg {
            display: block;
            width: 26px;
            height: 24px;
            margin-right: 20px;
            overflow: auto;
        }
    }

    p {
        font-size: 18px;
        font-weight: 500;
        line-height: 140%;
        min-height: 60px;

        @media (max-width: 768px) {
            font-size: 16px; 
        }

        @media (max-width: 500px) {
            font-size: 12px; 
        }
    }

    @media (max-width: 400px) {
        padding: 20px 0 0;
        min-height: 90px;
    }
}