.nav {
    font-size: 20px;
    width: 100%;

    display: flex;
    background-color: white;
}

.nav__container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    text-transform: uppercase;
    width: 100%;
    
    a {
        text-decoration: none;
        color: $lightBlack;
        font-weight: 600;

        font-size: 0.8em;
        padding: 1.5em .5em 1.25em;

        border-bottom: 0.1em solid white;

        &:hover {
            color: $redBrick;
            border-bottom: 0.1em solid $redBrick;
        }
    }

    @media (max-width: 1200px) {
        a {
            font-size: 0.7em;
        }
    }

    @media (max-width: 1024px) {
        display: none;
    }
}