.reviews {
    font-size: 20px;
    padding: 4em 0;
    
    background: url('./../images/svg/prices-curves.svg') #F6F6F6 center no-repeat;

    &__title {
        max-width: 400px;
        line-height: 130%;
        margin-bottom: 1em;
    }

    @media (max-width: 1200px) {
        overflow: hidden;
        padding-bottom: 16em;

        &__title {
            margin-bottom: 1.5em;
            margin-left: 65px;
        }
    }

    @media (max-width: 576px) {
        padding: 1.5em 0 12em;

        &__title {
            max-width: 250px;

            font-size: 26px;
            margin-left: 1em;
            margin-bottom: 0.5em;
        }
    }

    @media (max-width: 450px) {
        padding-bottom: 10em;

        &__title {
            max-width: 250px;

            font-size: 22px;
            margin-left: 0;
        }
    }
}

.reviews-slider {
    display: flex;
    cursor: e-resize;

    &__item {
        display: flex;
        position: relative;

        &-info {
            width: 17em;
            height: 11em;
            padding: 3em;

            display: flex;
            flex-direction: column;
            background-color: white;

            position: absolute;
            z-index: 10;
            left: 0;
            top: 50%;
            
            transform: translateY(-50%);

            box-shadow: 15px 15px 50px rgba(0, 0, 0, 0.1);
            border-radius: 0.5em;

            &-pdf {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                bottom: -12%;

                width: fit-content;
                color: $lightBlue;

                font-size: 0.8em;
                font-weight: 700;

                transition: .4s;

                &:hover { color: $darkBlue }
                @media (max-width: 500px) { bottom: -15% }
            }

            data {
                color: #3737D7;
                font-weight: 700;
                font-size: 0.7em;
                margin-bottom: 0.4em;
            }

            h3 {
                font-family: 'FuturaPT', sans-serif;
                font-weight: 600;
                font-size: 0.7em;
                
                text-transform: uppercase;
                line-height: 130%;
                margin: 0.25em 0 1em;
            }

            p {
                font-size: 0.8em;
                line-height: 145%;
                margin-bottom: 1em;
                
                -o-text-overflow: ellipsis;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 6;
                overflow: hidden;

                a {
                    color: $lightBlue;
                    text-decoration: underline;
                    transition: .4s;

                    &:hover { color: $darkBlue }
                }
            }

            span {
                margin-top: auto;
                font-size: 0.7em;
                font-weight: 600;
            }

            @media (max-width: 1330px) { left: 2% }

            @media (max-width: 1200px) {
                left: 50%;
                transform: translateX(-50%);
                overflow: initial;
                
                top: 80%;

                width: 25em;
                padding: 2.5em;
            }

            @media (max-width: 1024px) { width: 18em }

            @media (max-width: 768px) {
                font-size: 0.8em;
                width: 15em;
                height: fit-content;

                p { font-size: 0.7em }
            }

            @media (max-width: 576px) {
                font-size: 0.7em;
                top: 90%;
            }

            @media (max-width: 450px) { padding: 1em }
        }

        @media (max-width: 1200px) { width: auto }

        &-video {
            margin-left: auto;
            margin-right: 0 !important;

            width: 800px;
        }
    }

    @media (max-width: 1200px) { overflow: initial }
}

.player__review--ill {
    background-color: white;

    max-width: 780px;
    width: 100%;
    height: 450px;

    margin: 0 0 0 auto;
    border-radius: 0.5em;
    
    display: flex;
    justify-content: center;

    img {
        width: 21em;
        height: 90%;
        margin-top: auto;
    }

    @media (max-width: 1200px) {
        margin: 0 auto;
    }

    @media (max-width: 768px) {
        height: 350px;
        img { width: 17em }
    }

    @media (max-width: 576px) {
        height: 290px;
        img { width: 14em }
    }

    @media (max-width: 420px) {
        height: 200px;
        img { width: 10em }
    }
}