.header {
    font-size: 20px;

    background: #242843;
    color: white;
    z-index: 30;

    position: relative;

    @media (max-width: 1024px) {
        border-bottom: 0.05em solid #383C53;
    }
}

.header__container {
    width: auto;
    z-index: 35;
    padding: 1.25em 15px 1.25em;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #242843;

    @media (max-width: 500px) {
        padding: 0.75em 15px 0.75em;
    }
}

.header__logo {
    display: flex;
    align-items: center;

    img {
        width: 11.5em;
        height: 2em;
    }

    @media (max-width: 768px) {
        img {
            width: 10em;
            height: 2em;
        }
    }

    @media (max-width: 500px) {
        img {
            width: 8em;
            height: 2em;
        }
    }
}

.header__warning {
    display: flex;
    align-items: center;

    svg {
        width: 1.1em;
        height: 1em;

        margin-right: 0.5em;
    }

    p {
        max-width: 25em;
        color: white;
        
        font-size: 0.6em;
        font-weight: 500;
        line-height: 140%;
    }

    @media (max-width: 1200px) {
        display: none;
    }
}

.header__contacts {
    display: flex;
    align-items: center;

    &-social {
        display: flex;
        @media (max-width: 1024px) {
            display: none;
        }
    }

    &-phone {
        display: flex;
        flex-direction: column;

        margin-left: 0.75em;
        
        p {
            font-size: 0.6em;
            margin-bottom: 0.5em;

            @media (max-width: 1200px) {
                text-align: right;
            }
        }

        a {
            font-size: 1.05em;
            font-weight: 700;

            color: white;
            text-decoration: none;

            transition: .4s color;

            &:hover {
                color: $lightBlue;
            }
        }

        @media (max-width: 1024px) {
            p {
                display: none;
            }
        }
    }

    @media (max-width: 1024px) {
        .mobile-call {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 15px;
            text-indent: -9999px;
            overflow: hidden;
            padding: 0;
            background: url(../images/svg/tel.svg) rgba(255, 255, 255, 0.1) center no-repeat;
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}

.h-btn {
    width: fit-content;
    height: fit-content;
    padding: 0.9em 1.5em;

    margin-left: 1.25em;
    
    span {
        font-size: 0.6em;
    }

    @media (max-width: 1024px) {
        display: none;
    }
}

